.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.home-container01 {
  width: 100%;
  height: 3263px;
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: column;
}
.home-top {
  width: 100%;
  height: 1000px;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-container02 {
  width: 100%;
  height: 1138px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-first {
  width: 318px;
  height: 100%;
  display: flex;
  align-self: flex-end;
  align-items: center;
  padding-top: 45px;
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  flex-direction: column;
  padding-bottom: 45px;
  justify-content: flex-start;
}
.home-nav {
  width: 100%;
  height: 955px;
  display: flex;
  align-self: stretch;
  margin-top: 0px;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
}
.home-image01 {
  width: 134px;
  height: 418px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
}
.home-link {
  color: rgb(85, 85, 85);
  font-size: 22px;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  font-family: Zen Maru Gothic;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.home-text {
  color: rgb(85, 85, 85);
  font-size: 22px;
  font-style: normal;
  margin-top: 0px;
  text-align: center;
  font-family: Zen Maru Gothic;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  letter-spacing: 1px;
  text-transform: lowercase;
}
.home-text01 {
  color: rgb(85, 85, 85);
  font-size: 22px;
  font-style: normal;
  text-align: center;
  font-family: Zen Maru Gothic;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  letter-spacing: 1px;
  text-transform: lowercase;
}
.home-link1 {
  color: rgb(85, 85, 85);
  font-size: 22px;
  font-style: normal;
  text-align: center;
  font-family: Zen Maru Gothic;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  letter-spacing: 1px;
  text-transform: lowercase;
  text-decoration: none;
}
.home-text04 {
  color: rgb(85, 85, 85);
  font-size: 22px;
  font-style: normal;
  text-align: center;
  font-family: Zen Maru Gothic;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  letter-spacing: 1px;
  text-transform: lowercase;
}
.home-text05 {
  color: rgb(85, 85, 85);
  font-size: 22px;
  font-style: normal;
  text-align: center;
  font-family: Zen Maru Gothic;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  letter-spacing: 1px;
  text-transform: lowercase;
}
.home-text08 {
  color: rgb(85, 85, 85);
  font-size: 22px;
  font-style: normal;
  text-align: center;
  font-family: Zen Maru Gothic;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  letter-spacing: 1px;
  text-transform: lowercase;
}
.home-text11 {
  color: rgb(85, 85, 85);
  font-size: 22px;
  font-style: normal;
  text-align: center;
  font-family: Zen Maru Gothic;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  letter-spacing: 1px;
  text-transform: lowercase;
}
.home-works {
  width: 100%;
  height: 1149px;
  display: flex;
  margin-top: 69px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #F1FBFA;
}
.home-text12 {
  color: rgb(85, 85, 85);
  font-size: 40px;
  font-style: normal;
  text-align: center;
  font-family: Zen Maru Gothic;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  letter-spacing: 1px;
  text-transform: lowercase;
}
.home-container03 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 30px;
  display: flex;
  opacity: 0;
  align-items: flex-start;
  justify-content: center;
}
.home-container04 {
  width: 100%;
  height: 65%%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-container05 {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-image02 {
  width: 200px;
  align-self: center;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-image03 {
  width: 200px;
  align-self: center;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
}
.home-container06 {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-image04 {
  width: 200px;
  align-self: center;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
}
.home-image05 {
  width: 200px;
  align-self: center;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
}
.home-container07 {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-image06 {
  width: 200px;
  align-self: center;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
}
.home-image07 {
  width: 200px;
  opacity: 0;
  align-self: center;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
}
.home-container08 {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-image08 {
  width: 200px;
  align-self: center;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
}
.home-image09 {
  width: 200px;
  opacity: 0;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
}
.home-container09 {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-image10 {
  width: 200px;
  align-self: center;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
}
.home-image11 {
  width: 200px;
  opacity: 0;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
}
@media(max-width: 1600px) {
  .home-nav {
    width: 229px;
    margin-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 0px;
  }
}
